/******************************************
[Table of contents]***********************/
/******************************************
1. GENERAL STYLING
2. PRIMARY-SECTION-WRAPPER STYLING
3. EXPANDABLE-SECTION STYLING
4. DETAILS STYLING
5. ACCOMODATIONS STYLING
6. REGISTRY STYLING
7. MEDIA QUERIES
    7.1 max-width --> 868px
    7.2 max-width --> 464px

******************************************/
/******************************************
GENERAL STYLING
******************************************/
* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #f0eee2;
}
ul {
  list-style: none;
  padding: 0;
}
.content-wrapper {
  font-size: 1em;
  margin: 6em 1.875em;
}
.content-wrapper li {
  font-size: 1em;
}
@media screen and (max-width: 1576px) {
  .content-wrapper {
    margin: 4em 1.875em;
  }
  .content-wrapper h1 {
    font-size: 3em;
  }
  .content-wrapper h2 {
    font-size: 1.3em;
  }
  .content-wrapper h3 {
    font-size: 1.1em;
  }
  .content-wrapper p,
  .content-wrapper .key-times,
  .content-wrapper .accomodation-info ul li {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 1061px) {
  .content-wrapper {
    margin: 2em 1.875em;
  }
}
@media screen and (max-width: 683px) {
  .content-wrapper h1 {
    font-size: 2.25em;
  }
  .content-wrapper h2 {
    font-size: 1.1em;
  }
  .content-wrapper h3 {
    font-size: 0.9em;
  }
  .content-wrapper p,
  .content-wrapper .key-times,
  .content-wrapper .accomodation-info ul li {
    font-size: 0.8em;
  }
}
/******************************************
PRIMARY-SECTION-WRAPPER STYLING
******************************************/
.primary-section-wrapper {
  background-color: #dbafa4;
  background-image: url('../assets/img/Baby Breath Asset.png');
  background-repeat: no-repeat;
  background-size: 30em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  padding: 3.125em;
  position: relative;
  text-align: center;
  z-index: 1000;
}
.primary-section-wrapper .primary-banner-image img {
  border-radius: 100%;
  height: auto;
  width: 100%;
}
.primary-section-wrapper .right-image img {
  width: 55%;
}
.primary-section-wrapper .title-text .wedding-name {
  font-family: 'Great Vibes', cursive;
  font-size: 4em;
}
.primary-section-wrapper .title-text .wedding-name span {
  font-family: 'Great Vibes', cursive;
}
.primary-section-wrapper .primary-banner-image,
.primary-section-wrapper .title-text {
  margin: auto;
  width: 30%;
}
@media screen and (max-width: 1576px) {
  .primary-section-wrapper .title-text {
    width: 40%;
  }
  .primary-section-wrapper .title-text .wedding-name {
    font-size: 3em;
  }
  .primary-section-wrapper .primary-banner-image {
    width: 25%;
  }
}
@media screen and (max-width: 1061px) {
  .primary-section-wrapper {
    flex-direction: column-reverse;
  }
  .primary-section-wrapper .title-text {
    width: 100%;
  }
  .primary-section-wrapper .left-image {
    display: none;
  }
  .primary-section-wrapper .right-image {
    width: 100%;
  }
  .primary-section-wrapper .right-image img {
    width: 35%;
  }
}
@media screen and (max-width: 683px) {
  .primary-section-wrapper .title-text .wedding-name {
    font-size: 2.25em;
  }
}
/******************************************
EXPANDABLE-SECTION  STYLING
******************************************/
.expandable-section {
  background-color: #dbafa4;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 1.25em;
  text-align: center;
}
.expandable-section:nth-child(n + 3) {
  border-top: 1px solid rgba(32, 28, 28, 0.43);
}
.expandable-section .section-title {
  font-family: 'Great Vibes', cursive;
}
.expandable-section .expanded-content {
  visibility: hidden;
}
/******************************************
DETAILS STYLING
******************************************/
.expandable-section .expanded-content .key-information {
  padding-top: 1.875em;
}
.expandable-section .expanded-content .key-information li:nth-child(n + 2) {
  margin: 1.875em auto 0;
}
.expandable-section .expanded-content .key-information li .key-times li {
  margin: 0.4em auto 0;
}
.expandable-section .expanded-content .key-information .map {
  height: 400px;
  width: 500px;
}
@media screen and (max-width: 650px) {
  .expandable-section .expanded-content .key-information .map {
    height: 200px;
    width: 300px;
  }
}
/******************************************
ACCOMODATIONS STYLING
******************************************/
.expandable-section .expanded-content .accomodation-info:first-child {
  padding-top: 1.875em;
}
.expandable-section .expanded-content .accomodation-info:nth-child(n + 2) {
  margin-top: 1.875em;
}
/******************************************
REGISTRY STYLING
******************************************/
.expandable-section .expanded-content .registries:first-child {
  padding-top: 1.875em;
}
.expandable-section .expanded-content .registries .registry-item a {
  color: #000;
  font-size: 1.25em;
  text-decoration: none;
}
.expandable-section .expanded-content .registries .registry-item a:hover {
  color: #007acc;
  text-decoration: underline;
}

/*# sourceMappingURL=wedding-page.css.map */