# Ignore everything
*

# Allow subdirectories to be whitelisted.
!*/

# Explicitly state what to let through

!.gitignore

# Wordpress
!/wp-content/themes/twentyseventeen-ty/**


# The files below this will be irrelevant soon.

!index.html
!wedding.html

# CSS Files
!/css/
!/css/**
/css/*.map

# LESS Files
!/less/
!/less/**

# JS Files
!/js/
!/js/**

# Asset files
!/assets/
!/assets/**
