#thermometer-icon-container {
  .thermometer-icon {
    .thermometer-fill {
      height: 37%;
      y: 147;
    }

    .thermometer-fill-active {
      animation: temperature-change 1.4s 1 ease-in-out both;
    }
  }
}

#tachometer-icon-container {
  .tachometer-icon {
    .tachometer-needle {
      transform: rotate(30deg);
      transform-origin: 40% 54%;
    }

    .tachometer-needle-active {
      animation: tachometer-change 1.4s 1 ease-in-out both;
    }
  }
}

#ventilation-icon-container {
  .ventilation-icon {
    .ventilation-fumes-1 {
      transform: translate(81%, 0%);
    }

    .ventilation-fumes-2 {
      transform: translate(97%, 0%);
    }

    .ventilation-fumes-3 {
      transform: translate(111%, 0%);
    }

    .ventilation-fumes-active-1 {
      animation: ventilation-change-1 1.4s 1 ease-in-out both;
    }

    .ventilation-fumes-active-2 {
      animation: ventilation-change-2 1.4s 1 ease-in-out both;
      animation-delay: -0.16s;
    }

    .ventilation-fumes-active-3 {
      animation: ventilation-change-3 1.4s 1 ease-in-out both;
      animation-delay: -0.32s;
    }
  }
}

// Define the keyframe animation for the thermometer svg.
@keyframes temperature-change {
  0% {
    y: 147;
  }
  33% {
    y: 142;
  }
  66% {
    y: 153;
  }
  100% {
    y: 147;
  }
}

// Define the keyframe animation for the tachometer svg.
@keyframes tachometer-change {
  0% {
    transform: rotate(30deg);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(61deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

// Define the keyframe animation for the ventilation svg.
@keyframes ventilation-change-1 {
  0% {
    transform: translate(81%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(81%, -34%);
    opacity: 0;
  }
}

@keyframes ventilation-change-2 {
  0% {
    transform: translate(97%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(97%, -34%);
    opacity: 0;
  }
}

@keyframes ventilation-change-3 {
  0% {
    transform: translate(111%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(111%, -34%);
    opacity: 0;
  }
}
