#thermometer-icon-container {
  //Thermometer Styling
  .thermometer-icon {
    .thermometer-fill {
      height: 37%;
      y: 147;
    }

    .thermometer-fill-active {
      animation: temperature-change 1.4s 1 ease-in-out both;
    }
  }
}

// Define the keyframe animation for the thermometer svg.
@keyframes temperature-change {
  0% {
    y: 147;
  }
  33% {
    y: 142;
  }
  66% {
    y: 153;
  }
  100% {
    y: 147;
  }
}
