@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
/* Green 700 */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
#content_area {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}
#content_area > table.screenonly {
  display: none;
}
#caslink-wrapper {
  color: rgba(0, 0, 0, 0.87);
  /*font-family: "HelveticaNeue", "Helvetica Neue", "Liberation Sans", sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  overflow: hidden;
}
#caslink-wrapper .container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}
#caslink-wrapper section {
  padding: 1.5em 1em 2em;
}
#caslink-wrapper section:after {
  content: " ";
  display: block;
  clear: both;
}
#caslink-wrapper section .inline-wrapper {
  display: inline-block;
  margin: 0 auto;
}
#caslink-wrapper section:nth-child(odd) {
  background-color: #2b908f;
  color: #ffffff;
}
#caslink-wrapper section:nth-child(odd) ul li span {
  color: #ffffff;
}
#caslink-wrapper section .row {
  overflow: visible;
  margin: 0 auto;
  max-width: 1200px;
}
#caslink-wrapper section .row .col {
  position: relative;
  float: left;
  width: 50%;
}
#caslink-wrapper section .flex-container {
  display: flex;
  justify-content: center;
}
#caslink-wrapper section .flex-item {
  position: relative;
}
#caslink-wrapper section .flex-grid {
  display: flex;
}
#caslink-wrapper section .big-button {
  background-color: #FFF;
  border: 1px solid #ffffff;
  border-radius: 0.125em;
  color: #D12F20;
  cursor: pointer;
  display: inline-block;
  font-family: "HelveticaNeueW01", "HelveticaNeue", "Helvetica Neue";
  font-size: 1.375em;
  font-weight: normal;
  line-height: 1;
  padding: 0.5em 0.75em;
  text-transform: capitalize;
  transition: all 150ms ease-out;
  white-space: nowrap;
}
#caslink-wrapper section .big-button:hover {
  background-color: #D12F20;
  color: #ffffff;
}
#caslink-wrapper section h2 {
  /* 35 Thin 48px */
  font-family: "HelveticaNeueW01";
  font-size: 2.125em;
  font-stretch: normal;
  font-weight: 200;
  margin: 0 0 0.75em;
}
#caslink-wrapper section h4 {
  /* Helvetica Neue 55 Roman */
  font-family: "HelveticaNeueW01";
  font-weight: normal;
  font-size: 1.25em;
  margin: 0;
}
#caslink-wrapper section h5 {
  /* Open Sans */
  font-weight: normal;
  font-size: 1.25em;
  margin: 0;
}
#caslink-wrapper section ul {
  display: inline-block;
  text-align: left;
  font-size: 1.125em;
  list-style-type: circle;
  margin: 1em auto;
  padding-left: 1.25em;
}
#caslink-wrapper section ul li {
  margin-bottom: 0.375em;
  padding-left: 0;
}
#caslink-wrapper section ul li span {
  color: rgba(0, 0, 0, 0.87);
}
#caslink-wrapper section .caption {
  /*color: @FontColorDark;*/
  display: inline-block;
  font-size: 1.125em;
  font-weight: normal;
  margin: 1em 0 2em;
}
#caslink-wrapper section .screenshot-container {
  display: inline-block;
  background: #FFF;
  border-radius: 0.275em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.125);
  padding: 0.5em;
  max-width: 80%;
}
#caslink-wrapper section .screenshot-container img {
  display: block;
  width: 100%;
}
#caslink-wrapper section.hero {
  background-color: #D12F20;
  color: #ffffff;
  overflow: hidden;
}
#caslink-wrapper section.hero .title-block {
  display: inline-block;
  margin: 2em 0;
}
#caslink-wrapper section.hero img.logo {
  width: 90%;
}
#caslink-wrapper section.hero .hero-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  overflow: visible;
  margin: 0 auto;
  max-width: 1200px;
}
#caslink-wrapper section.hero .hero-container .hero-item {
  width: 100%;
}
#caslink-wrapper section.hero h1 {
  border-bottom: 1px solid #FFF;
  font-family: "HelveticaNeueW01";
  font-size: 82px;
  font-stretch: condensed;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  padding: 0 0.25em;
}
#caslink-wrapper section.hero h2 {
  font-family: "HelveticaNeueW01";
  font-stretch: normal;
  font-weight: 200;
  margin: 0;
}
#caslink-wrapper section.hero h3 {
  font-family: "HelveticaNeueW01";
  font-size: 32px;
  font-stretch: condensed;
  font-weight: 500;
  margin: 0.5em 0;
  padding: 0 0.25em;
}
#caslink-wrapper section.hero ul {
  display: inline-block;
  text-align: left;
  list-style-type: circle;
  margin: 1em 2em 1em 0;
  padding-left: 20px;
  max-width: 90%;
}
#caslink-wrapper section.hero ul li {
  margin-bottom: 1em;
}
#caslink-wrapper section.hero ul li span {
  color: inherit;
  font-family: "HelveticaNeueW01";
  font-style: oblique;
  font-weight: 500;
  text-transform: uppercase;
}
#caslink-wrapper section.hero p span {
  color: inherit;
  font-family: "HelveticaNeueW01";
  font-style: oblique;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}
#caslink-wrapper section.hero .laptop-demo {
  display: inline-block;
  width: 90%;
  padding-top: 54%;
  background-image: url("../img/laptop-login@2x.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
}
#caslink-wrapper section.specialization {
  background-color: #f0f1f3;
  background-image: url("../img/specialization-bg.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
#caslink-wrapper section.specialization .flex-container {
  flex-direction: column-reverse;
}
#caslink-wrapper section.specialization .flex-container .flex-item {
  width: 100%;
}
#caslink-wrapper section .remote-capabilities {
  display: block;
  min-height: 8.75em;
  margin: 1.25em 0;
  padding-left: 3.5em;
  padding-right: 1.25em;
  position: relative;
  text-align: left;
}
#caslink-wrapper section .remote-capabilities .icon {
  display: block;
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 79% auto;
}
#caslink-wrapper section .remote-capabilities h4 {
  min-height: 2em;
}
#caslink-wrapper section .remote-capabilities ul {
  padding-left: 0;
}
#caslink-wrapper section .remote-capabilities.ckv .icon {
  background-color: #4527a0;
}
#caslink-wrapper section .remote-capabilities.ckv h4 {
  color: #4527a0;
}
#caslink-wrapper section .remote-capabilities.ckv ul li {
  color: #4527a0;
}
#caslink-wrapper section .remote-capabilities.hvac .icon {
  background-color: #f5860d;
}
#caslink-wrapper section .remote-capabilities.hvac h4 {
  color: #f5860d;
}
#caslink-wrapper section .remote-capabilities.hvac ul li {
  color: #f5860d;
}
#caslink-wrapper section .remote-capabilities.lighting .icon {
  background-color: #8bc34a;
}
#caslink-wrapper section .remote-capabilities.lighting h4 {
  color: #8bc34a;
}
#caslink-wrapper section .remote-capabilities.lighting ul li {
  color: #8bc34a;
}
#caslink-wrapper section .remote-capabilities.monitoring .icon {
  background-color: #D12F20;
}
#caslink-wrapper section .remote-capabilities.monitoring h4 {
  color: #D12F20;
}
#caslink-wrapper section .remote-capabilities.monitoring ul li {
  color: #D12F20;
}
#caslink-wrapper section.monitoring .flex-container {
  flex-direction: column-reverse;
}
#caslink-wrapper section.monitoring .flex-container .flex-item h4 {
  text-align: left;
}
#caslink-wrapper section.monitoring .monitoring-capabilities {
  padding-left: 0;
}
#caslink-wrapper section.monitoring .monitoring-capabilities li {
  display: block;
  margin-left: 4.25em;
  margin-right: 1.25em;
  margin-bottom: 1em;
  position: relative;
  height: 4em;
  overflow: visible;
  vertical-align: middle;
}
#caslink-wrapper section.monitoring .monitoring-capabilities li::before {
  position: absolute;
  left: -4.25em;
  top: 0;
  content: " ";
  display: inline-block;
  width: 3em;
  height: 3em;
  background-color: #FFF;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 81% auto;
  border-radius: 5%;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.125);
  margin-right: 3em;
  padding: 0;
}
#caslink-wrapper section.monitoring .monitoring-capabilities li.icon-check:before {
  background-image: url("../img/icon-check_v2.png");
}
#caslink-wrapper section.monitoring .monitoring-capabilities li.icon-tools:before {
  background-image: url("../img/icon-tools_v2.png");
}
#caslink-wrapper section.monitoring .monitoring-capabilities li.icon-clipboard:before {
  background-image: url("../img/icon-clipboard_v2.png");
}
#caslink-wrapper section.monitoring .monitoring-capabilities li span {
  display: inline-block;
  position: relative;
}
#caslink-wrapper section.specifics .flex-container {
  flex-direction: column;
}
#caslink-wrapper section.specifics .flex-item {
  border-top: 1px solid #BDBDBD;
  margin: 0.5em auto;
  padding: 1em 0 0;
  text-align: center;
  width: 80%;
}
#caslink-wrapper section.specifics .flex-item:first-of-type {
  border: 0;
}
#caslink-wrapper section.specifics .flex-item .icon {
  margin-top: 12px;
  height: 85px;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
#caslink-wrapper section.specifics .flex-item h4 {
  /* Helvetical Neue 65 */
  font-size: 1.5em;
  margin: 20px 0;
}
#caslink-wrapper section.specifics .flex-item p {
  font-size: 1.125em;
  margin: 2em 0;
}
#caslink-wrapper section.specifics .flex-item.security .icon {
  background-image: url("../img/icon-security_v2.png");
}
#caslink-wrapper section.specifics .flex-item.security h4 {
  color: #D12F20;
}
#caslink-wrapper section.specifics .flex-item.storage .icon {
  background-image: url("../img/icon-storage_v2.png");
}
#caslink-wrapper section.specifics .flex-item.storage h4 {
  color: #4527a0;
}
#caslink-wrapper section.specifics .flex-item.cloud .icon {
  background-image: url("../img/icon-cloud_v2.png");
}
#caslink-wrapper section.specifics .flex-item.cloud h4 {
  color: #f5860d;
}
#caslink-wrapper section.specifics .flex-item.data .icon {
  background-image: url("../img/icon-data_v2.png");
}
#caslink-wrapper section.specifics .flex-item.data h4 {
  color: #8bc34a;
}
#caslink-wrapper section.remote .inline-wrapper {
  text-align: left;
  padding-top: 1em;
}
#caslink-wrapper section.remote .flex-container {
  flex-direction: column-reverse;
}
#caslink-wrapper section.remote .flex-container .flex-item {
  flex-grow: 1;
}
#caslink-wrapper section.remote .flex-container .flex-item:first-of-type {
  margin-top: 1em;
  padding: 0 1em;
}
#caslink-wrapper section.remote h4 {
  text-align: left;
}
#caslink-wrapper section.remote ul + h4 {
  margin-top: 1em;
}
#caslink-wrapper section.remote ul {
  display: block;
}
#caslink-wrapper section.remote p {
  margin-bottom: 0;
}
#caslink-wrapper section.remote .tablet-remote {
  position: relative;
  background-image: url("../img/tablet-remote_v2@2x.png");
  background-position: 90% 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 80%;
  padding-top: 60%;
  margin: 0 auto 0.5em;
}
#caslink-wrapper section.remote .image-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
#caslink-wrapper section.remote .image-wrapper .laptop-remote {
  background-image: url("../img/laptop-remote_v3.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 80%;
  padding-top: 45%;
  margin: 0 auto;
}
#caslink-wrapper section.remote .caption {
  max-width: 24em;
  padding: 0 1em;
}
#caslink-wrapper section.notifications .container h2 {
  display: block;
}
#caslink-wrapper section.notifications .flex-container {
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 50em;
}
#caslink-wrapper section.notifications .flex-container .flex-item h2 {
  display: none;
}
#caslink-wrapper section.notifications .flex-grid {
  justify-content: center;
  margin-top: 2em;
  text-align: left;
  flex-wrap: wrap;
  align-items: center;
}
#caslink-wrapper section.notifications .flex-grid .flex-item {
  width: 72%;
  margin: 0;
}
#caslink-wrapper section.notifications .flex-grid .flex-item.flex-item-icon {
  margin: 0.375em 0;
  min-width: 5em;
  text-align: right;
  width: 26%;
}
#caslink-wrapper section.notifications .flex-grid .flex-item.flex-item-description {
  padding: 0;
}
#caslink-wrapper section.notifications .flex-grid .flex-item.flex-item-description p {
  padding: 0 1.5em 0 1em;
  position: relative;
  margin: 0;
  font-size: 1.125em;
}
#caslink-wrapper section.notifications .tablet-real-time {
  width: 60%;
  margin: 0 auto;
}
#caslink-wrapper section.notifications .tablet-real-time img {
  width: 100%;
}
#caslink-wrapper section.notifications .icon {
  display: inline-block;
  width: 4em;
  height: 4em;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
#caslink-wrapper section.notifications .icon.icon-gears {
  background-image: url("../img/icon-gears.png");
}
#caslink-wrapper section.notifications .icon.icon-warning {
  background-image: url("../img/icon-warning_v2.png");
}
#caslink-wrapper section.notifications .icon.icon-add {
  background-image: url("../img/icon-add_v2.png");
}
#caslink-wrapper section.notifications .icon.icon-email {
  background-image: url("../img/icon-email_v2.png");
}
#caslink-wrapper section.analytics .container h2 {
  display: block;
}
#caslink-wrapper section.analytics .flex-container {
  flex-direction: column-reverse;
}
#caslink-wrapper section.analytics .flex-container .flex-item {
  width: 100%;
}
#caslink-wrapper section.analytics .flex-container .flex-item h2 {
  display: none;
}
#caslink-wrapper section.analytics .flex-container .flex-item:last-of-type {
  width: 85%;
  padding-top: 70%;
  margin: 0 auto;
}
#caslink-wrapper section.analytics ul {
  margin: 2em auto 0;
}
#caslink-wrapper section.analytics ul li {
  /*color: @ColorRed;*/
  margin-bottom: 2em;
}
#caslink-wrapper section.analytics .monitor-analytics {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 78%;
  background-image: url("../img/monitor-analytics_v3.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
#caslink-wrapper section.interface {
  display: none;
  /* hide on mobile - no interface */
  background: #FFF;
  color: rgba(0, 0, 0, 0.87);
}
#caslink-wrapper section.interface h2 {
  margin: 0 auto 1em;
}
#caslink-wrapper section.interface .interface-slider {
  position: relative;
  margin: 0 auto;
}
#caslink-wrapper section.interface .interface-slider ul.slides {
  margin: 0;
  padding: 0;
}
#caslink-wrapper section.interface .interface-slider ul.slides > li {
  text-align: center;
}
#caslink-wrapper section.interface .interface-slider h5 {
  font-size: 1.25em;
  font-weight: normal;
  margin-bottom: 1.5em;
  text-align: center;
}
#caslink-wrapper section.interface .interface-slider img {
  max-width: 80%;
  margin: 0 auto;
}
#caslink-wrapper section.interface .flex-direction-nav {
  list-style: none;
}
#caslink-wrapper section.interface .flex-direction-nav a {
  top: 32%;
  opacity: 0.7;
  width: 40px;
  height: 60px;
}
#caslink-wrapper section.interface .flex-direction-nav a::before {
  color: #434348;
  font-family: "FontAwesome";
  font-size: 60px;
  content: "\f104";
}
#caslink-wrapper section.interface .flex-direction-nav a.flex-next {
  right: 1rem !important;
}
#caslink-wrapper section.interface .flex-direction-nav a.flex-next:before {
  content: "\f105";
}
#caslink-wrapper section.interface .flex-direction-nav a.flex-prev {
  left: 1rem !important;
}
#caslink-wrapper section.interface .screenshot-container {
  display: block;
  margin: 2em auto;
  padding: 0.5em;
  width: auto;
  max-width: none;
  background-color: #FFF;
  border-radius: 0.25em;
  transition: all ease 500ms;
}
#caslink-wrapper section.interface .screenshot-container h4 {
  font-family: "HelveticaNeueW01";
  font-size: 1.125em;
  font-stretch: condensed;
  font-style: oblique;
  font-weight: normal;
  margin-bottom: 1em;
  text-align: center;
}
#caslink-wrapper section.interface .screenshot-container img {
  max-width: 100%;
}
#caslink-wrapper section.interface .screenshot-container img.smaller {
  max-width: 50%;
}
#caslink-wrapper section.installation {
  /* reverse colors on desktop */
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
}
#caslink-wrapper section.installation p {
  margin: 0;
}
#caslink-wrapper section.installation .graphic-container {
  display: none;
  position: relative;
  margin: 3em auto 2em;
  width: 80%;
}
#caslink-wrapper section.installation .graphic-container img {
  max-width: 100%;
}
#caslink-wrapper section.installation .graphic-container h4 {
  position: absolute;
  display: none;
}
#caslink-wrapper section.installation .graphic-container h4#ethernet {
  top: 1.5em;
  left: 50%;
  transform: translateX(-50%);
}
#caslink-wrapper section.installation .graphic-container h4#module {
  bottom: 0;
  left: 14%;
  transform: translateX(-50%);
}
#caslink-wrapper section.installation .graphic-container h4#modem {
  bottom: 0;
  right: 13.5%;
  transform: translateX(50%);
}
#caslink-wrapper section.installation .graphic-container.vertical {
  display: block;
  max-width: 10em;
}
#caslink-wrapper section.installation ul li span {
  color: rgba(0, 0, 0, 0.87);
}
#caslink-wrapper section.installation .flex-container {
  flex-direction: column;
}
#caslink-wrapper section.action {
  background-color: #D12F20;
  color: #ffffff;
}
#caslink-wrapper section.action p {
  font-size: 1.375em;
  display: block;
  width: 86%;
  max-width: 38em;
  margin: 1em auto 1.5em;
  padding: 2em 1em;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}
#caslink-wrapper section.resources {
  background-color: #F0F0F0;
  color: rgba(0, 0, 0, 0.87);
}
#caslink-wrapper section.resources .flex-container {
  display: inline-block;
  margin: 0 auto;
}
#caslink-wrapper section.resources .flex-container .flex-item {
  padding-left: 1em;
  text-align: left;
}
#caslink-wrapper section.resources h2 {
  font-size: 2em;
  margin: 0 0 0.5em;
}
#caslink-wrapper section.resources ul {
  list-style: none;
  font-size: 1.125em;
  margin: 0;
  padding-left: 0;
}
#caslink-wrapper section.resources ul li a {
  color: inherit;
  white-space: nowrap;
  transition: all 200ms ease;
  border-left: 1px solid transparent;
  position: relative;
  padding-left: 0.5em;
  left: -0.5em;
}
#caslink-wrapper section.resources ul li a:hover,
#caslink-wrapper section.resources ul li a:active {
  border-left: 1px solid #D12F20;
  left: 0;
}
#caslink-wrapper section.resources ul li a::after {
  content: "\00bb";
  color: #D12F20;
  margin-left: 0.5em;
}
#caslink-wrapper section .imac-monitoring {
  background-image: url('../img/imac-monitoring_v3.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 90%;
  padding-top: 77%;
  margin: 0 auto;
}
#caslink-wrapper section .screen-monitoring {
  background-image: url('../img/screen-monitoring_v2.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 90%;
  margin: 0 auto;
  padding-top: 57%;
}
/* Uses scaled desktop layout */
@media (min-width: 736px) {
  html #content_area {
    min-width: 1024px;
  }
  html #caslink-wrapper {
    min-width: 1024px;
  }
  html #caslink-wrapper .container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 2em;
  }
  html #caslink-wrapper section {
    padding: 3em 0;
    /* section-specific styles: */
  }
  html #caslink-wrapper section:after {
    content: " ";
    display: block;
    clear: both;
  }
  html #caslink-wrapper section .row {
    overflow: visible;
    margin: 0 auto;
    max-width: 1200px;
  }
  html #caslink-wrapper section .row .col {
    position: relative;
    float: left;
    width: 50%;
  }
  html #caslink-wrapper section .flex-container {
    display: flex;
  }
  html #caslink-wrapper section .flex-item {
    position: relative;
  }
  html #caslink-wrapper section .flex-grid {
    display: flex;
  }
  html #caslink-wrapper section h2 {
    /* 35 Thin 48px */
    font-size: 3em;
    margin: 0 0 1em;
  }
  html #caslink-wrapper section h4 {
    /* Helvetica Neue 55 Roman */
    font-size: 1.375em;
  }
  html #caslink-wrapper section ul {
    display: inline-block;
    text-align: left;
    font-size: 1em;
    padding-left: 20px;
  }
  html #caslink-wrapper section ul li {
    margin-bottom: 0.25em;
    padding-left: 0;
  }
  html #caslink-wrapper section ul li span {
    color: rgba(0, 0, 0, 0.87);
  }
  html #caslink-wrapper section .caption {
    display: inline-block;
    margin: 1em 0 2em;
  }
  html #caslink-wrapper section.hero .title-block {
    margin: 2em 0 3em;
  }
  html #caslink-wrapper section.hero img.logo {
    width: 42em;
  }
  html #caslink-wrapper section.hero .hero-container {
    flex-direction: row;
    margin: 0 auto;
    max-width: 1200px;
  }
  html #caslink-wrapper section.hero .hero-container .hero-item {
    text-align: center;
    max-width: 50em;
    width: 80%;
  }
  html #caslink-wrapper section.hero h1 {
    font-size: 82px;
    line-height: 1;
    margin: 0;
    padding: 0 0.25em;
  }
  html #caslink-wrapper section.hero h2 {
    font-size: 3.125em;
    margin: 0.5em 0 0;
  }
  html #caslink-wrapper section.hero h3 {
    font-size: 32px;
    margin: 0.5em 0;
    padding: 0 0.25em;
  }
  html #caslink-wrapper section.hero ul {
    display: inline-block;
    text-align: left;
    font-size: 1.125em;
    margin: 1em 2em 1em 0;
    padding-left: 20px;
  }
  html #caslink-wrapper section.hero ul li {
    margin-bottom: 1em;
  }
  html #caslink-wrapper section.hero .laptop-demo {
    display: inline-block;
    width: 666px;
    height: 379px;
    background-image: url("../img/laptop-login@2x.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    padding: 0;
    left: -50px;
  }
  html #caslink-wrapper section.specialization .flex-container {
    flex-direction: row;
  }
  html #caslink-wrapper section.specialization .flex-container .flex-item {
    width: 65%;
  }
  html #caslink-wrapper section.specialization .flex-container .flex-item:last-child {
    width: 35%;
  }
  html #caslink-wrapper section .remote-capabilities {
    display: block;
    min-height: 8.75em;
    margin: 1.25em 0;
    padding-left: 9.375em;
    padding-right: 1.25em;
    position: relative;
    text-align: left;
  }
  html #caslink-wrapper section .remote-capabilities .icon {
    display: block;
    width: 7.125em;
    height: 7.125em;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 79% auto;
  }
  html #caslink-wrapper section .remote-capabilities h4 {
    min-height: 0;
  }
  html #caslink-wrapper section .remote-capabilities ul {
    padding-left: 1.25em;
  }
  html #caslink-wrapper section.monitoring .flex-container {
    flex-direction: row;
  }
  html #caslink-wrapper section.monitoring .flex-container .flex-item {
    padding: 0 2em;
  }
  html #caslink-wrapper section.monitoring .flex-container .flex-item h4 {
    text-align: center;
  }
  html #caslink-wrapper section.monitoring .monitoring-capabilities {
    padding-left: 0;
  }
  html #caslink-wrapper section.monitoring .monitoring-capabilities li {
    height: 5em;
    margin-left: 6.25em;
    margin-bottom: 2em;
  }
  html #caslink-wrapper section.monitoring .monitoring-capabilities li:before {
    left: -6.25em;
    width: 5em;
    height: 5em;
    margin-right: 3em;
  }
  html #caslink-wrapper section.monitoring .monitoring-capabilities li span {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  html #caslink-wrapper section.specifics .flex-container {
    flex-direction: row;
    margin: 20px 0;
  }
  html #caslink-wrapper section.specifics .flex-item {
    border-top: 0;
    border-left: 1px solid #BDBDBD;
    text-align: center;
  }
  html #caslink-wrapper section.specifics .flex-item:first-of-type {
    border-left: 0;
  }
  html #caslink-wrapper section.specifics .flex-item .icon {
    margin-top: 12px;
    height: 85px;
    width: 100%;
  }
  html #caslink-wrapper section.specifics .flex-item h4 {
    /* Helvetical Neue 65 */
    font-size: 18px;
    margin: 20px 0;
  }
  html #caslink-wrapper section.specifics .flex-item p {
    font-size: 1em;
    margin: 1em 3em;
  }
  html #caslink-wrapper section.remote {
    padding-bottom: 0;
  }
  html #caslink-wrapper section.remote .container {
    padding: 0 3em;
  }
  html #caslink-wrapper section.remote .inline-wrapper {
    padding-top: 0;
    padding-bottom: 2em;
  }
  html #caslink-wrapper section.remote .flex-container {
    flex-direction: row;
  }
  html #caslink-wrapper section.remote .flex-container .flex-item {
    flex-grow: 1;
    text-align: left;
  }
  html #caslink-wrapper section.remote .flex-container .flex-item:first-of-type {
    margin: 0;
    padding: 0;
  }
  html #caslink-wrapper section.remote .flex-container .flex-item:last-of-type {
    margin: 0;
  }
  html #caslink-wrapper section.remote h2 {
    text-align: left;
  }
  html #caslink-wrapper section.remote p {
    font-size: 0.875em;
    margin-bottom: 0;
  }
  html #caslink-wrapper section.remote .tablet-remote {
    position: relative;
    float: right;
    background-size: auto 100%;
    width: 24.625em;
    height: 28.6875em;
    padding: 0;
    margin: -2em 0 0 10em;
  }
  html #caslink-wrapper section.remote .image-wrapper {
    position: absolute;
    left: auto;
    right: 1em;
    bottom: -2.5em;
    text-align: center;
  }
  html #caslink-wrapper section.remote .image-wrapper .laptop-remote {
    background-size: auto 100%;
    width: 36.0625em;
    height: 20.75em;
    padding: 0;
  }
  html #caslink-wrapper section.remote .caption {
    max-width: 24em;
  }
  html #caslink-wrapper section.notifications .container h2 {
    display: none;
  }
  html #caslink-wrapper section.notifications .flex-container {
    align-items: center;
    flex-direction: row;
    padding-right: 4em;
    max-width: none;
  }
  html #caslink-wrapper section.notifications .flex-container .flex-item {
    text-align: left;
  }
  html #caslink-wrapper section.notifications .flex-container .flex-item h2 {
    display: block;
    margin-bottom: 0.5em;
  }
  html #caslink-wrapper section.notifications .flex-grid {
    align-items: center;
    justify-content: flex-start;
    margin: 1em 0;
  }
  html #caslink-wrapper section.notifications .flex-grid .flex-item {
    width: 85%;
  }
  html #caslink-wrapper section.notifications .flex-grid .flex-item:last-of-type {
    margin: 0;
  }
  html #caslink-wrapper section.notifications .flex-grid .flex-item.flex-item-icon {
    min-width: 0;
    width: 4em;
    text-align: left;
  }
  html #caslink-wrapper section.notifications .flex-grid .flex-item.flex-item-description {
    margin-bottom: 0.25em;
  }
  html #caslink-wrapper section.notifications .flex-grid .flex-item.flex-item-description p {
    top: auto;
    transform: none;
  }
  html #caslink-wrapper section.notifications .tablet-real-time {
    width: 16em;
    margin: 3em 4em;
  }
  html #caslink-wrapper section.notifications .icon {
    width: 4em;
    height: 4em;
    background-size: auto 100%;
  }
  html #caslink-wrapper section.analytics .container h2 {
    display: none;
  }
  html #caslink-wrapper section.analytics .flex-container {
    flex-direction: row;
  }
  html #caslink-wrapper section.analytics .flex-container .flex-item {
    text-align: left;
  }
  html #caslink-wrapper section.analytics .flex-container .flex-item h2 {
    display: block;
    text-align: left;
  }
  html #caslink-wrapper section.analytics .flex-container .flex-item:first-of-type {
    width: 40%;
  }
  html #caslink-wrapper section.analytics .flex-container .flex-item:last-of-type {
    width: 60%;
    padding: 0;
  }
  html #caslink-wrapper section.analytics ul {
    margin: 0;
  }
  html #caslink-wrapper section.analytics ul li {
    margin-bottom: 2em;
  }
  html #caslink-wrapper section.analytics .monitor-analytics {
    position: absolute;
    top: auto;
    right: auto;
    bottom: -5em;
    left: 2em;
    width: 661px;
    height: 515px;
    padding: 0;
    background-size: 100% auto;
  }
  html #caslink-wrapper section.interface {
    display: block;
    background: #FFF;
    color: rgba(0, 0, 0, 0.87);
  }
  html #caslink-wrapper section.interface h2 {
    margin: 0 0 1em;
  }
  html #caslink-wrapper section.interface .screenshot-container {
    display: block;
    margin: 2em auto;
    padding: 2em;
    width: 55em;
    border-radius: 8px;
  }
  html #caslink-wrapper section.interface .screenshot-container h4 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  html #caslink-wrapper section.interface .screenshot-container img {
    max-width: 100%;
  }
  html #caslink-wrapper section.interface .screenshot-container img.smaller {
    max-width: 50%;
  }
  html #caslink-wrapper section.interface .screenshot-container:hover {
    transition: all ease 250ms;
    width: 80%;
  }
  html #caslink-wrapper section.installation {
    background-color: #2b908f;
    color: #ffffff;
  }
  html #caslink-wrapper section.installation .graphic-container {
    display: block;
    max-width: 46em;
  }
  html #caslink-wrapper section.installation .graphic-container.vertical {
    display: none;
  }
  html #caslink-wrapper section.installation ul li span {
    color: #ffffff;
  }
  html #caslink-wrapper section.installation .flex-container {
    flex-direction: row;
    align-items: center;
  }
  html #caslink-wrapper section.installation .flex-container .flex-item:last-of-type {
    flex-basis: 40%;
    padding: 0 3em 2em;
  }
  html #caslink-wrapper section.installation .screenshot-container {
    max-width: 24em;
  }
  html #caslink-wrapper section.action p {
    margin: 1em auto 2em;
  }
  html #caslink-wrapper section.resources {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  html #caslink-wrapper section.resources h2 {
    font-size: 2.25em;
  }
  html #caslink-wrapper section.resources ul li {
    font-size: 1em;
  }
  html #caslink-wrapper section.resources .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 64em;
  }
  html #caslink-wrapper section.resources .flex-container .flex-item {
    padding: 0;
  }
  html #caslink-wrapper section .imac-monitoring {
    position: absolute;
    top: 0;
    left: 0;
    background-size: 982px auto;
    width: 982px;
    height: 752px;
    padding: 0;
  }
  html #caslink-wrapper section .screen-monitoring {
    background-size: 100% auto;
    width: 489px;
    height: 284px;
    margin: 0 auto;
    padding: 0;
  }
}
@media (min-width: 1100px) {
  html #caslink-wrapper {
    font-size: 16px;
  }
}